<h2 mat-dialog-title>Capital Balance Projection Table</h2>
<mat-dialog-content class="mat-typography">
    <div class="popup-table">
        <div class="lock-table">
            <div class="table-cell placeholder-cell"></div>
            <div class="table-cell">Start Balance</div>
            <div class="table-cell">Contributions</div>
            <div class="table-cell">Earnings</div>
            <div class="table-cell">Fees</div>
            <div class="table-cell">Tax</div>
            <div class="table-cell">Withdrawals</div>
            <div class="table-cell">End Balance</div>
        </div>
        <div class="main-table primary-scrollbar-x">
            <div class="table-row header-row">
                <div class="table-cell" *ngFor="let item of chartData.xAxis; index as ind">{{item}}</div>
            </div>
            <div class="table-row highlight-row">
                <div class="table-cell" *ngFor="let item of chartData.startBalance; index as ind"><span class="cell-icon">$</span> <span class="cell-content">{{item | number : '1.0-2'}}</span></div>
            </div>
            <div class="table-row">
                <div class="table-cell" *ngFor="let item of chartData.contributions; index as ind"><span class="cell-icon">$</span> <span class="cell-content">{{item | number : '1.0-2'}}</span></div>
            </div>
            <div class="table-row">
                <div class="table-cell" *ngFor="let item of chartData.earnings; index as ind"><span class="cell-icon">$</span> <span class="cell-content">{{item | number : '1.0-2'}}</span></div>
            </div>
            <div class="table-row">
                <div class="table-cell" *ngFor="let item of chartData.fees; index as ind"><span class="cell-icon">$</span> <span class="cell-content">{{item | number : '1.0-2'}}</span></div>
            </div>
            <div class="table-row">
                <div class="table-cell" *ngFor="let item of chartData.tax; index as ind"><span class="cell-icon">$</span> <span class="cell-content">{{item | number : '1.0-2'}}</span></div>
            </div>
            <div class="table-row">
                <div class="table-cell" *ngFor="let item of chartData.withdrawals; index as ind"><span class="cell-icon">$</span> <span class="cell-content">{{item | number : '1.0-2'}}</span></div>
            </div>
            <div class="table-row">
                <div class="table-cell" *ngFor="let item of chartData.endBalance; index as ind"><span class="cell-icon">$</span> <span class="cell-content">{{item | number : '1.0-2'}}</span></div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
