<div class="app-container">
    <div class="navbar">
        <a href="https://www.paduafinancialgroup.com.au/" title="PADUA FINANCIAL GROUP" aria-label="visit PADUA FINANCIAL GROUP"><img src="./assets/padua_logo.png" title="PADUA FINANCIAL GROUP LOGO" alt="PADUA FINANCIAL GROUP LOGO" aria-label="PADUA FINANCIAL GROUP LOGO"></a>
    </div>
    <div class="calculator-container">
        <div class="input-container" [formGroup]="formulaInputGroup">
            <mat-form-field appearance="fill">
                <mat-label>Start Balance</mat-label>
                <input matInput type="number" formControlName="startBalance" class="input-number-clean" aria-label="Start Balance Input">
                <span matPrefix>$&nbsp;</span>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Salary</mat-label>
                <input matInput type="number" formControlName="salary" class="input-number-clean" aria-label="Salary Input">
                <span matPrefix>$&nbsp;</span>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Contribution Rate</mat-label>
                <input matInput type="number" formControlName="contributionRate" class="input-number-clean input-right-align" aria-label="Contribution Rate Input">
                <span matSuffix>%</span>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Inflation Rate</mat-label>
                <input matInput type="number" formControlName="inflationRate" class="input-number-clean input-right-align" aria-label="Inflation Rate Input">
                <span matSuffix>%</span>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Earnings</mat-label>
                <input matInput type="number" formControlName="earnings" class="input-number-clean input-right-align" aria-label="Earnings Input">
                <span matSuffix>%</span>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Fees</mat-label>
                <input matInput type="number" formControlName="fees" class="input-number-clean input-right-align" aria-label="Fees Input">
                <span matSuffix>%</span>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Tax</mat-label>
                <input matInput type="number" formControlName="tax" class="input-number-clean input-right-align" aria-label="Tax Input">
                <span matSuffix>%</span>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Withdrawal Rate</mat-label>
                <input matInput type="number" formControlName="withdrawalRate" class="input-number-clean input-right-align" aria-label="Withdrawal Rate Input">
                <span matSuffix>%</span>
            </mat-form-field>

            <div class="custom-form-field">
                <div class="slider-container">
                    <div class="slider-label-input-wrapper">
                        <label class="form-field-slider-label">Last Contribution Age</label>
                        <!-- <input type="number" formControlName="ageContributeSlider" class="input-number-clean slider-input" autoSizeInput [extraWidth]="10"> -->
                        <span class="display-slider-value">{{formulaInputGroup.value.ageContributeSlider}}</span>
                    </div>
                    <nouislider [config]="staticData.ageContributeConfig" formControlName="ageContributeSlider"></nouislider>
                </div>
            </div>
            <div class="custom-form-field">
                <div class="slider-container">
                    <div class="slider-label-input-wrapper">
                        <label class="form-field-slider-label">First Withdraw Age</label>
                        <!-- <input type="number" formControlName="ageWithdrawSlider" class="input-number-clean slider-input" autoSizeInput [extraWidth]="10"> -->
                        <span class="display-slider-value">{{formulaInputGroup.value.ageWithdrawSlider}}</span>
                    </div>
                    <nouislider [config]="staticData.ageWithdrawConfig" formControlName="ageWithdrawSlider"></nouislider>
                </div>
            </div>

            <button mat-raised-button color="primary" (click)="openDialog()">Open Data Table</button>
        </div>
        <div class="chart-container">
            <app-chart></app-chart>
        </div>
    </div>

    <router-outlet></router-outlet>

</div>