@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~nouislider/dist/nouislider.min.css";


$primary: #7BA4D9 !default;
$primary-text: #333333 !default;


$new-theme: (
    50 : #c7d9ef,
    100 : #b8ceeb,
    200 : #a9c4e6,
    300 : #99b9e2,
    400 : #8aafdd,
    500 : #7ba4d9,
    600 : #6c9ad5,
    700 : #5d8fd0,
    800 : #4d85cc,
    900 : #3e7ac7,
    A100 : #3670bc,
    A200 : #3267ad,
    A400 : #2d5e9d,
    A700 : #29558e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
@include mat-core();
$my-app-primary: mat-palette($new-theme);
$my-app-accent: mat-palette($mat-pink, A200, A100, A400);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);

@include angular-material-theme($my-app-theme);