/// Responsive breakpoint manager
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
    // Retrieves the value from the key
    $value: map-get($grid-breakpoints, $breakpoint);
  
    // If the key exists in the map
    @if $value != null {
      // Prints a media query based on the value
      @media (min-width: $value) {
        @content;
      }
    }
    @else if str-index($breakpoint, "px"){
      @media (min-width: $breakpoint) {
        @content;
      }
    }
  
    // If the key doesn't exist in the map
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Please make sure it is defined in `$breakpoints` map.";
    }
}
/// Responsive breakpoint manager, reverse of respond-to
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin respond-until($breakpoint) {
    // Retrieves the value from the key
    $value: map-get($grid-breakpoints-until, $breakpoint);
  
    // If the key exists in the map
    @if $value != null {
      // Prints a media query based on the value
      @media (max-width: $value) {
        @content;
      }
    }
    @else if str-index($breakpoint, "px"){
      @media (max-width: $breakpoint) {
        @content;
      }
    }
  
    // If the key doesn't exist in the map
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Please make sure it is defined in `$breakpoints` map.";
    }
}


$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;
$grid-breakpoints-until: (
	xs: 0,
	sm: 575px,
	md: 767px,
	lg: 991px,
	xl: 1199px
) !default;