@import 'base';
@import 'mixins';


body{
    margin: 0;
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
}

.hidden, [hidden]{
    display: none;
}

input.input-right-align{
    text-align: right;
}

input.input-number-clean[type="number"]{
    -moz-appearance: textfield;     // firefox
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {  // Chrome, Safari, Edge, Opera
      -webkit-appearance: none;
      margin: 0;
    }
}

.custom-form-field{
    padding-bottom: 10px;
    min-height: 40px;
}

.primary-scrollbar-x{
    overflow-x: auto;
    scrollbar-color: $primary #fff;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
        height: 8px;
        margin-bottom: -4px;
        background-color: #fff;
        z-index: 999;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background-color: #fff;
        z-index: 999;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #c2c2c2;
        border-radius: 10px;
        z-index: 999;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $primary;
    }
}




.app-container{
    height: 100vh;
    height: 100vh;
    overflow: hidden;
    .navbar{
        height: 40px;
        background: #efefef;
        padding: 5px 20px;
        img{
            height: 100%;
        }
    }
    .calculator-container{
        display: grid;
        grid-template-columns: minmax(200px, 400px) 1fr;
        /* max-width: 1200px; */
        width: 90%;
        padding: 0 20px;
        margin: 20px auto;
        gap: 5px;
        @include respond-until('md'){
            width: 100%;
            grid-template-columns: 1fr 1fr;
        }
        .input-container{
            display: flex;
            flex-direction: column;
        }
        .chart-container,
        .chart-container-inner,
        .chart-main{
            height: 100%;
        }
    }
}

.popup-table{
    display: flex;
    justify-content: flex-start;
    .lock-table{
        display: flex;
        flex-direction: column;
        .table-cell{
            border-left: 1px solid #ccc;
            &.placeholder-cell{
                border: none;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
            }
        }
    }
    .main-table{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow: auto;
        padding-bottom: 10px;
        .table-row{
            display: flex;
            flex-wrap: nowrap;
            &.header-row{
                font-weight: 600;
                .table-cell{
                    border-top: 1px solid #ccc;
                    justify-content: flex-end;
                }
            }
            &.highlight-row{
                background-color: #ffeb3b59;
            }
        }
    }
    .table-cell{
        width: 100px;
        height: 20px;
        flex-shrink: 0;
        display: flex;
        padding: 1px 5px;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        align-items: center;
        box-sizing: border-box;
        .cell-content{
            flex-grow: 1;
            text-align: right;
        }
    }
}

.slider-container{
    .slider-label-input-wrapper{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        .slider-input{
            background-color: transparent;
            border-bottom: 1px dotted $primary-text;
            text-align: center;
        }
    }
    .noUi-connect{
        background-color: $primary;
    }
    .noUi-horizontal .noUi-handle{
        cursor: pointer;
        width: 30px;
        height: 30px;
        right: -15px;
        border-radius: 50%;
        transition: 0.3s all ease;
        &:hover{
            box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ebebeb, 0 2px 6px 2px #bbb;
        }
        &:before, &:after{
            width: 2px;
        }
        &:before{
            left: 12px;
        }
        &:after{
            left: 15px;
        }
    }
}